<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    
    * {
        font-family: 'Poppins', sans-serif;
    }

    div.container {
        margin-left: 30px;
    }
</style>
<body style="background-image: url('/images/background.jpg'); background-size: cover;">
    <div class="container">
        <h1 style="color: white;">Hello World, It's Neelanjan!</h1>
        <h3 style="color: white;">From AWS Cloud :)</h3>
    </div>
</body>
</html>